*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
   --first-font: "Playfair Display", serif;
   --second-font: "Clicker Script" , cursive;
   --first-color: #f9c06a;
   --second-color: #603809;
   --third-color: #1e1e1e;
   --fourth-color: #ffeed8;
   --fifth-color: #fff9f1; 
   --sixth-color: #707070;
}

body {
    min-height: 100vh;
    margin: 0;
}

.main-container {
    max-width: 1400px;
    margin-inline: auto;
}

header {
    background-image:  url('./Images/new_header_coffee.png');
    background-repeat: no-repeat;
    color: var(--fifth-color);
    background-size: cover;
}

.nav-item {
    display: flex;
    justify-content: space-around;
}

.nav-text {
    text-decoration: none;
    color: var(--fifth-color);
}


.nav-item-one {
    font-family: var(--second-font);
    font-size: 1.5rem;
}

.nav-item-two {
    font-family: var(--first-font);
}

.mini-nav-item-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18.75rem;
}

.nav-item-three {
    display: flex;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
}

.nav-item-two {
    display: flex;
}

.nav-item-two,
.nav-item-three {
    font-size: 0.85rem;
}

.mini-paragraph-three {
    text-decoration: underline;
}

.nav-text-three {
    text-decoration: none;
    color: var(--third-color);
    background: var(--first-color);
    padding: 10px 25px;
    border-radius: 50px;
}

.main-header-text {
    width: 400px;
    padding: 2rem;
    /* background: green; */
    text-align: left;
    font-family: var(--first-font);
    font-size: 0.80rem;
    line-height: 1.5;
    margin-left: 40px;
}

/* .main-header-text p {
    margin: 0;
} */


.mini-text-one {
    display: block;
    font-family: var(--second-font);
    font-size: 8rem;
    margin: 0;
}

.third-main-paragraph {
    margin-top: 30px;
}

.mini-third-main-text {
    color: var(--third-color);
    font-weight: 500;
    text-decoration: none;
    background: var(--first-color);
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 900;
}

main {
    display: grid;
    /* background: red; */
    margin: 0;
    font-family: var(--first-font);
}


.second-image {
    width:250px;
}

.second-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-item {
    max-width: 400px;
    font-size: 0.85rem;
}

.first-heading {
    color:var(--second-color) ;
    font-size: 1.5rem;
    font-weight: bold;
}

.second-section-text {
    color: var(--sixth-color);
    line-height: 1.5;
}

.first-mini-btn {
    color: var(--third-color);
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    background: var(--first-color);
    border-radius: 50px;
    font-weight: bold;
}

.third-heading {
    color: var(--second-color);
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
}

.mini-third-container-text {
    font-size: 0.65rem;
    text-align: center;
    margin-top: 0;
}



.third-container img {
     width: 100%;
}


.mini-third-container {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; */
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.mini-first-rec-text,
.mini-second-rec-text,
.mini-third-rec-text,
.mini-fourth-rec-text {
    display: block;
    color: var(--second-color);
    text-decoration: none;
    font-weight: bold;
}

.mini-first-rectangle,
.mini-second-rectangle,
.mini-third-rectangle,
.mini-fourth-rectangle  {
    background: var(--fourth-color);
}

.first-rectangle,
.second-rectangle,
.third-rectangle,
.fourth-rectangle {
    width: 180px;
}

.first-rectangle > p:first-child,
.second-rectangle > p:first-child,
.third-rectangle > p:first-child,
.fourth-rectangle > p:first-child {
    margin: 0;
    display: grid;
}



.mini-first-rectangle,
.mini-second-rectangle,
.mini-third-rectangle,
.mini-fourth-rectangle {
    font-size: 0.85rem;
    padding: 0.7rem;
}


.mini-first-rectangle > p:first-child,
.mini-second-rectangle > p:first-child,
.mini-third-rectangle > p:first-child,
.mini-fourth-rectangle > p:first-child {
    margin: 0;
}

.text-one {
    color: var(--second-color);
    font-weight: bold;
}
.text-one,
.text-two {
    text-align: center;
}

.mini-first-rec-btn,
.mini-second-rec-btn,
.mini-third-rec-btn,
.mini-fourth-rec-btn {
    text-decoration: none;
    color: var(--third-color);
    font-weight: bold;
    padding: 10px 20px;
    background: var(--first-color);
    border-radius: 50px;
    font-size: 0.65rem;
    position: relative;
    left: 30px;
    top: 30px;
}

.fourth-container {
    margin-top: 50px;
}

.fourth-heading {
    text-align: center;
    font-size: 1.8rem;
    color: var(--second-color);
    margin-bottom: 10px;
}

.mini-fourth-text {
    font-size: 0.65rem;
    text-align: center;
    margin-top: 0;
    color: var(--sixth-color);
}